# https://www.viget.com/articles/host-build-and-deploy-next-js-projects-on-github-pages/

name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3
        
      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Build
        run: |
          pnpm install
          pnpm run build
          pnpm run export
          touch out/.nojekyll

      - name: Deploy
        # https://github.com/JamesIves/github-pages-deploy-action
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: out